### LISTAS
1. Haz una lista llamada `colores` donde almacenemos los primeros 6 colores que te vengan a la mente.

In [144]:
colores = ['azul', 'amarillo', 'verde', 'morado', 'rojo', 'negro']

In [145]:
type(colores)

list

2. Haz una lista llamada `buses` de las líneas de autobuses que pasan por tu casa.

In [146]:
buses = [37, 6, 1]

In [147]:
type(buses)

list


3. Apunta la previsión de temperaturas máximas para todos los días de esta semana en `temperaturas`.

In [148]:
temperaturas = [23,22,20,17]

In [149]:
type(temperaturas)

list

4. Convierte tu(s) nombre(s) a una lista `nombres` de caracteres.

In [150]:
# No lo entendimos bien: lista de CARACTERES:
# nombres = ['Ana', 'Magdala']
nombres = 'AnaMagdala'
lista_nombres = list(nombres)
lista_nombres

['A', 'n', 'a', 'M', 'a', 'g', 'd', 'a', 'l', 'a']

In [151]:
type(lista_nombres)

list

In [152]:
type(nombres[0])

str


5. Convierte tu(s) apellido(s) a una lista `apellidos` de caracteres.

In [153]:
# No lo entendimos bien: lista de CARACTERES:
# apellidos = ['Pérez Nimo', 'Robles']
apellidos = 'Péreznimorobles'
lista_apellidos = list(apellidos)
lista_apellidos

['P', 'é', 'r', 'e', 'z', 'n', 'i', 'm', 'o', 'r', 'o', 'b', 'l', 'e', 's']

In [154]:
type(lista_apellidos)

list

6. ¿Cuántos búses pasan por tu casa?

In [155]:
len(buses)

3

7. ¿Cuántos caracteres hay en tu apellido(s) (inluyendo los espacios)?

In [156]:
len(lista_apellidos)

15

In [157]:
# comprobación de lo que habíamos ido haciendo nosotras:
lista_apellidos_separados= ['Péreznimo', 'Robles']
caracteres_apellidos = len(lista_apellidos_separados[0]) + len(lista_apellidos_separados[1])
caracteres_apellidos

15

8. ¿Cuáles son las temperaturas máximas (`t_max`) y mínimas (`t_min`) para esta semana?

In [158]:

t_max = max(temperaturas)
t_min = min(temperaturas)

In [159]:
print(t_max)
print(t_min)

23
17

9. Hay una 'e' en tu nombre?

In [160]:
'e' in lista_nombres

False

10. Tienes el color 'rosa' en la lista de colores?

In [161]:
'rosa' in colores

False

11. ¿Tiene una 'x' tu nombre? (Usa `not in`)

In [162]:
'x' not in lista_nombres

True

12. Copia el contenido de `temperaturas` a `temperaturas2`, y `temperaturas3`.

In [163]:
temperaturas2 = temperaturas.copy()

In [164]:
temperaturas2

[23, 22, 20, 17]

In [165]:
type(temperaturas2)

list

In [166]:
temperaturas

[23, 22, 20, 17]

In [167]:
temperaturas2

[23, 22, 20, 17]

In [168]:
temperaturas3 = temperaturas.copy()
temperaturas3

[23, 22, 20, 17]

In [169]:
# temperaturas = temperaturas 2 se nos cambian ambas
# temperaturas[0] = 50
# temperaturas

In [170]:
temperaturas2

[23, 22, 20, 17]

In [171]:
temperaturas3

[23, 22, 20, 17]

13. Vacía el contenido de la variable `temperaturas2`

In [172]:
temperaturas2.clear()
temperaturas2

[]

14. Imprime el contenido de `temperaturas` y `temperaturas2`.

In [173]:
print(temperaturas)
print(temperaturas2)

[23, 22, 20, 17]
[]

15. Copia el contenido de `nombres` a `nombres2`.

In [174]:
lista_nombres2 = lista_nombres.copy()
lista_nombres2

['A', 'n', 'a', 'M', 'a', 'g', 'd', 'a', 'l', 'a']

16. Copia el contenido de `apellidos` a `apellidos2`.

In [175]:
lista_apellidos2 = lista_apellidos.copy()
lista_apellidos2

['P', 'é', 'r', 'e', 'z', 'n', 'i', 'm', 'o', 'r', 'o', 'b', 'l', 'e', 's']

17. Ordena la variable `temperaturas3` de menor a mayor.

In [176]:
temperaturas3.sort()
temperaturas3

[17, 20, 22, 23]

In [177]:
# de mayor a menor (por defecto de m a M)
temperaturas3.sort( reverse = True)
temperaturas3

[23, 22, 20, 17]

18. Ordena los caracteres de tu nombre y tu apellido en las listas `nombres2` y `apellidos2`. Imprime el resultado y investiga: ¿qué orden ha cogido? ¿Cómo trata las mayúsculas?

In [178]:
lista_nombres2.sort()
lista_apellidos2.sort()
print(lista_nombres2)   # En el caso de la lista con dos nombres separados:
# pone primero el nombre que empieza por A
print(lista_apellidos2) # En el caso de la lista con dos apellidos separados:
# pone primero el apellido con la incial en orden alfabético

['A', 'M', 'a', 'a', 'a', 'a', 'd', 'g', 'l', 'n']
['P', 'b', 'e', 'e', 'i', 'l', 'm', 'n', 'o', 'o', 'r', 'r', 's', 'z', 'é']

19. ¿Cuántas 'a' tiene tu nombre? ¿Y cuántas 'o'?

In [179]:
print(lista_nombres.count('a'))
print(lista_nombres.count('o'))

4
0

20. Verifica si los resultados de ejercicio 19 son iguales para la lista `nombres2`.

In [180]:
print(lista_nombres2.count('a'))
print(lista_nombres2.count('o'))

4
0

21. ¿Cuántas veces esta semana llega la temperatura a la `t_max`? ¿Y cuántas a la `t_min`?

In [181]:
print(temperaturas.count(t_max))
print(temperaturas.count(t_min))

1
1

22. La lista dias_en contiene 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', y 'sunday'

In [182]:
dias_en = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',  'sunday']
dias_en

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

23. Define temperaturas_diciembre 👇🏽:

In [183]:
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                            12, 11, 13, 17, 18, 15, 
                            15, 17, 17, 13, 13, 11,
                            12, 10, 12, 14, 12, 12,
                            11, 12, 16, 16, 14, 17, 18]

24. ¿Cuál es el penúltimo día de la semana?

In [184]:
penúltimo_dia = dias_en[-2]
penúltimo_dia

'saturday'

25. ¿Cuál es el último elemento de la lista de temperaturas de diciembre?

In [185]:
último_elemento_temp = temperaturas_diciembre [-1]
último_elemento_temp

18

26. ¿Está 'friday' en la lista de días en inglés? Si está, ¿dónde?

In [186]:
dias_en.index('friday')

4

28. Encuentra el índice de 'miércoles' en dias_es.

In [187]:
dias_en.index('wednesday')

2

29. (Bonus) Imprime esta frase en pantalla: 

La temperatura máxima esta semana será ---, que ocurrirá en -- días(s). 

El día más frío tendrá una temperatura máxima de ---, que ocurrirá en -- día(s).

In [188]:
print(f'La temperatura máxima esta semana será {t_max} ºC, que ocurrirá en {temperaturas.count(t_max)} días(s).') 
print(f'El día más friolero tendrá una temperatura máxima de {t_min} ºC, que ocurrirá en {temperaturas.count(t_min)} día(s).')

La temperatura máxima esta semana será 23 ºC, que ocurrirá en 1 días(s).
El día más friolero tendrá una temperatura máxima de 17 ºC, que ocurrirá en 1 día(s).

# Tuplas
### Definir tuplas
1. Crea una tupla `persona1` para juntar los siguientes datos: 61 kg, 1.54 m altura, pelo marrón, sin usar paréntesis. (Serán del tipo `int`, `float` y `str`.)

In [189]:
persona1 = 61, 1.54, 'pelo marrón'
print(persona1)
print(type(persona1))

(61, 1.54, 'pelo marrón')
<class 'tuple'>

2. Crea una tupla para la `persona2` de 68 kg, 1.65 m y pelo rubio, usando paréntesis

In [190]:
persona2 = 68, 1.65, 'pelo rubio'

3. Crea una lista `talla` que recompila 'M', 42, y 39.

In [191]:
lista_talla = ['M', 42, 39]
lista_talla

['M', 42, 39]

### Convertir y juntar
4. Convierte la lista `talla` a una tupla.

In [192]:
talla = tuple(lista_talla)
print(talla)
print(type(talla))

('M', 42, 39)
<class 'tuple'>

5. Une a la tupla de `persona1` los datos de `talla`.

In [193]:
persona1_ampliado = persona1 + talla
persona1_ampliado

(61, 1.54, 'pelo marrón', 'M', 42, 39)

### Indexar tuplas
6. Saca de `persona2` el contenido del tercer elemento y llámalo `color`.

In [194]:
color = persona2[2]
color

'pelo rubio'

In [195]:
type(color)

str

7. ¿Cuántos elementos hay ahora en `persona1`? (Es decir, ¿cuál es su longitud?)

In [196]:
len(persona1)

3

### Desempaquetar
8. Crea las variables `peso`, `altura`, `color`, `camiseta`, `pantalon`, y `zapatos` y llénalas con el contenido de `persona1`. Imprime `camiseta` para comprobar el resultado.

In [197]:
peso, altura, color, camiseta, pantalon, zapatos = persona1_ampliado

In [198]:
print(camiseta)
print(altura)
print(zapatos)

M
1.54
39

### Zipear
9. Crea el zip `personas` con `persona1` y `persona2`.

In [199]:
# zip nos COMBINA las tuplas, uniendo los primeros valores, los segundos, etc:
# te crea una LISTA de TUPLAS
zip_personas = zip(persona1, persona2)
lista_personas = list(zip_personas)
lista_personas

[(61, 68), (1.54, 1.65), ('pelo marrón', 'pelo rubio')]

In [200]:
type(lista_personas[1])

tuple

10. ¿Cuántas "elementos" tiene `personas`? ¿Por qué?

In [201]:
elementos_lista_personas = len(lista_personas)
print(f'Lista_personas tiene {elementos_lista_personas}, porque es el núm de tuplas que tiene')

Lista_personas tiene 3, porque es el núm de tuplas que tiene

11. Crea una tupla `etiquetas` con `'peso'`, `'altura'`, y `'color'`.

In [202]:
etiquetas = 'peso', 'altura', 'color'
etiquetas

('peso', 'altura', 'color')

12. Crea al zip de `etiquetas`, `persona1`, y `persona2`.

In [203]:
zip_etiquetas_personas = zip(etiquetas, persona1, persona2)
etiquetas_personas = list(zip_etiquetas_personas)
etiquetas_personas

[('peso', 61, 68),
 ('altura', 1.54, 1.65),
 ('color', 'pelo marrón', 'pelo rubio')]

### Manipular zips
13. Ordena las propiedades de la variable `personas` alfabéticamente.

In [204]:
lista_personas

[(61, 68), (1.54, 1.65), ('pelo marrón', 'pelo rubio')]

--> NO se pueden ordenar: si hiciéramos "lista_personas.sort()" nos da error:
no podemos ordenar diferentes tipos de datos!!!!